# SPDX-License-Identifier: GPL-2.0-only
if SOC_BRCMSTB

config BRCMSTB_PM
	bool "Support suspend/resume for STB platforms"
	default y
	depends on PM
	depends on ARCH_BRCMSTB || BMIPS_GENERIC
	select ARM_CPU_SUSPEND if ARM

config BRCMSTB_BMEM
	bool "Enable BMEM reserved A/V memory"
	depends on (ARCH_BRCMSTB || BMIPS_GENERIC)
	help
	  The A/V peripherals (managed by the PI/Nexus middleware) require
	  large, contiguous memory regions to be set aside at boot time.  This
	  option sets those up in a default config that reserves most of
	  memory.  Also allows the user to manually define region sizes and
	  locations using the 'bmem' command line param.  Allows for O_DIRECT
	  I/O using these regions, mmap() from user programs, and
	  ioremap() from kernel drivers.

	  If you are planning to use Broadcom middleware, choose Y here.

config BRCMSTB_BMEM_DT_FIXUP
	bool "Enable BMEM devicetree fixup"
	depends on ARM && ARCH_BRCMSTB

config BRCMSTB_BMEM_DT_FIXUP_MAP_ADDR
	hex 'Map address' if BRCMSTB_BMEM_DT_FIXUP
	depends on BRCMSTB_BMEM_DT_FIXUP
	default 0x4c000000

config BRCMSTB_BMEM_DT_FIXUP_MAP_SIZE
	hex 'Map size' if BRCMSTB_BMEM_DT_FIXUP
	depends on BRCMSTB_BMEM_DT_FIXUP
	default 0x18000000

config BRCMSTB_BMEM_DT_FIXUP_NOMAP_ADDR
	hex 'No-map address' if BRCMSTB_BMEM_DT_FIXUP
	depends on BRCMSTB_BMEM_DT_FIXUP
	default 0x64000000

config BRCMSTB_BMEM_DT_FIXUP_NOMAP_SIZE
	hex 'No-map size' if BRCMSTB_BMEM_DT_FIXUP
	depends on BRCMSTB_BMEM_DT_FIXUP
	default 0x1c000000

config BRCMSTB_DECODER
	tristate "Support Broadcom video decoder driver"
	depends on VIDEO_DEV && VIDEO_V4L2
	select VIDEOBUF2_VMALLOC
	select V4L2_MEM2MEM_DEV
	help
	 Support for the video decoder found in BRCMSTB.

config BRCMSTB_SRPD
	tristate "Support enabling DDR self-refresh modes"
	help
	 Provides a sysfs interface for setting the self-refresh timeout
	 value on Broadcom STB memory controllers.

endif # SOC_BRCMSTB
