/dts-v1/;

/include/ "bcm7358.dtsi"

/ {
	compatible = "brcm,bcm97358svmb", "brcm,bcm7358";
	model = "Broadcom BCM97358SVMB";

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x10000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = &uart0;
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&enet0 {
	status = "okay";
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&spi0 {
	status = "okay";

	m25p80@0 {
		compatible = "m25p80";
		spi-max-frequency = <50000000>;
		reg = <0>;
		spi-cpha;
		spi-cpol;
		#address-cells = <1>;
		#size-cells = <1>;

		cfe@0 {
			reg = <0x0 0xa0000>;
		};

		nvram@a0000 {
			reg = <0xa0000 0x10000>;
		};

		mac@b0000 {
			reg = <0xb0000 0x10000>;
		};
	};
};

&nand0 {
	status = "okay";

	nandcs@2 {
		compatible = "brcm,nandcs";
		reg = <2>;
		nand-ecc-step-size = <512>;
		nand-ecc-strength = <4>;
		nand-on-flash-bbt;

		#size-cells = <1>;
		#address-cells = <1>;

		kernel@0 {
			reg = <0x0 0x800000>;
		};

		splash@800000 {
			reg = <0x800000 0x400000>;
		};

		rootfs@c00000 {
			reg = <0xc00000 0x1f200000>;
		};
	};
};
