/dts-v1/;

/include/ "bcm7346.dtsi"

/ {
	compatible = "brcm,bcm97346dbsmb", "brcm,bcm7346";
	model = "Broadcom BCM97346DBSMB";

	memory@0 {
		device_type = "memory";
		reg = <0x00000000 0x09000000>, <0x34000000 0x1c000000>;
	};

	chosen {
		bootargs = "console=ttyS0,115200";
		stdout-path = &uart0;
	};

	nexus-wakeups {
		interrupts = <0x0 0x1 0x2 0x5>;
		interrupt-parent = <&aon_pm_l2_intc>;
		interrupt-names = "cec", "irr", "kpd", "gpio";
	};
};

&uart0 {
	status = "okay";
};

&uart1 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&bsca {
	clock-frequency = <97500>;
	status = "okay";
};

&bscb {
	clock-frequency = <97500>;
	status = "okay";
};

&bscc {
	clock-frequency = <97500>;
	status = "okay";
};

&bscd {
	clock-frequency = <97500>;
	status = "okay";
};

&bsce {
	clock-frequency = <97500>;
	status = "okay";
};

&pwma {
	status = "okay";
};

&pwmb {
	status = "okay";
};

&enet0 {
	status = "okay";

	phy-mode = "rgmii";
	phy-handle = <&phy0>;

	mdio@e14 {
		phy0: ethernet-phy@0 {
			max-speed = <1000>;
			reg = <0x0>;
			compatible = "brcm,bcm54610",
				"ethernet-phy-ieee802.3-c22";
		};
	};
};

&ehci0 {
	status = "okay";
};

&ohci0 {
	status = "okay";
};

&ehci1 {
	status = "okay";
};

&ohci1 {
	status = "okay";
};

&ehci2 {
	status = "okay";
};

&ohci2 {
	status = "okay";
};

&ehci3 {
	status = "okay";
};

&ohci3 {
	status = "okay";
};

&sata {
	status = "okay";
};

&sata_phy {
	status = "okay";
};

&sdhci0 {
	status = "okay";
};

&nand {
	status = "okay";

	nandcs@1 {
		compatible = "brcm,nandcs";
		reg = <1>;
		nand-on-flash-bbt;

		nand-ecc-strength = <4>;
		nand-ecc-step-size = <512>;

		partitions {
			compatible = "fixed-partitions";
			#address-cells = <0x2>;
			#size-cells = <0x2>;

			flash1.kernel@0 {
				label = "kernel";
				reg = <0x0 0x0 0x0 0x800000>;
			};

			flash1.splash@800000 {
				label = "splash";
				reg = <0x0 0x800000 0x0 0x400000>;
			};

			flash1.rootfs@c00000 {
				label = "rootfs";
				reg = <0x0 0xc00000 0x0 0x1f200000>;
			};
		};
	};
};

&qspi {
	status = "okay";

	m25p80@0 {
		#size-cells = <0x2>;
		#address-cells = <0x2>;
		compatible = "m25p80";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-cpol;
		spi-cpha;
		use-bspi;
		m25p,fast-read;

		flash0.cfe@0 {
			label = "cfe";
			reg = <0x0 0x0 0x0 0xa0000>;
		};

		flash0.nvram@a0000 {
			label = "nvram";
			reg = <0x0 0xa0000 0x0 0x10000>;
		};

		flash0.macadr@b0000 {
			label = "macadr";
			reg = <0x0 0xb0000 0x0 0x10000>;
		};
	};
};
