config DRM_VC5
	tristate "Broadcom VC5 Graphics"
	depends on ARCH_BCM || ARCH_BRCMSTB || COMPILE_TEST
	depends on DRM
	depends on COMMON_CLK
	select DRM_KMS_HELPER
	select DRM_KMS_CMA_HELPER
	select DRM_GEM_CMA_HELPER
	help
	  Choose this option if you have a system that has a Broadcom
	  V3D 3.3 (VC5) GPU, such as BCM7268.
